// app/page.module.scss
@use 'tokens';

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.header {
    position: absolute;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-end;
    padding: tokens.$spacing-unit * 2 0;
}

.sidebar, .content, .footer {
    width: 100%;
    max-width: 680px;
}

.sidebar {
    padding-top: tokens.$spacing-unit * 4;
}

.content {
    margin-top: tokens.$spacing-unit * 4;
}

.linksGrid {
    display: grid;
    width: 100%;
    gap: tokens.$spacing-unit * 2;
    grid-template-columns: 1fr;
}

.footer {
    width: 100%;
    margin-top: tokens.$spacing-unit * 6;
    padding-bottom: tokens.$spacing-unit * 4;
    font-size: 0.875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: tokens.$spacing-unit;
}

.vercelLogo {
    height:  1rem;
}

.vercelLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.2s ease;
    &:hover {
        opacity: 1;
    }
}

@media (min-width: 901px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: flex-start;
        padding: 0 2rem;
        gap: 0 3rem;
    }

    .header {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        width: auto;
        z-index: 10;
    }

    .sidebar {
        grid-column: 1 / 2;
        height: 100vh;
        position: sticky;
        top: 0;
        display: flex;
        padding: 6rem 0;
    }

    .content {
        grid-column: 2 / 3;
        padding: 6rem 0;
        max-width: none;
    }

    .footer {
        grid-column: 1 / -1;
        max-width: none;
        margin-top: tokens.$spacing-unit * 4;
        padding-bottom: tokens.$spacing-unit * 4;

        text-align: center;
        align-items: center;
    }

    .linksGrid {
        gap: tokens.$spacing-unit * 2.5;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1201px) {
    .main {
        gap: 0 4rem;
    }
    .linksGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1501px) {
    .linksGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}