
@use 'tokens';

.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: tokens.$spacing-unit * 3;
    width: 100%;
}

.avatar {
    border-radius: tokens.$m3-border-radius-full;
    border: 4px solid tokens.$m3-background;
    box-shadow: tokens.$m3-elevation-2;
    margin-bottom: tokens.$spacing-unit * 2;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    color: tokens.$m3-on-surface;
}

.bio {
    font-size: 1rem;
    margin-top: tokens.$spacing-unit;
    color: tokens.$m3-on-surface-variant;
    max-width: 400px;
}